<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Counter</title>
        <meta charset='UTF-8'>
    </head>
    <body>
        <h1>Counter</h1>
        <p><%= count %></p>
        <form action='/' method='post'>
            <input type='submit' value='+2'>
        </form>
        <form action='/reset' method='post'>
            <input type='submit' value='Reset'>
        </form>
    </body>
</html>