*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    margin: 0px auto;
    width: 1000px;
}
.header{

}
.span-1{
    
}
.span-2{

}
.main{

}
.main-menu{

}
.main-1{

}
.main-1-title{

}
.main-2{

}
.main-2-title{

}
.main-3{

}
.main-3-title{

}
.more-info{

}
.main-content{

}
.world{

}
.goal{

}
.learn-more{

}
.testimonial{

}
.testimonial-text{

}
.footer{

}
.span-3{

}