<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Layouts</title>
        <meta charset='UTF-8'>
        <link href='layouts.css' rel='stylesheet'>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <h1>Header</h1>
                <h3>Subtitle</h3>
            </div>
            <ul class="nav-bar">
                    <li><input type="button" value="Home"></li>
                    <li><input type="button" value="About Us"></li>
                    <li><input type="button" value="Contact Us"></li>
                    <li><input type="button" value="Videos"></li>
                    <li><input type="button" value="Pricing"></li>
                    <li><input type="button" value="Something"></li>
                    <li><input type="button" value="Something more..."></li>
                    <li><input type="button" value="Something even more..."></li>
            </ul>
            <div class="row">
                <div class="column mobile tablet1 desktop">
                    <h4>Coffee Ipsum</h4>
                    <p>Grounds, crema java plunger pot cultivar sweet instant latte. Plunger pot and, qui, cappuccino sweet ristretto iced doppio. Variety est, sweet id, latte, whipped viennese robusta whipped shop sugar filter. Body in, aromatic, frappuccino cup a single origin galão.</p>
                </div>
                <div class="column mobile tablet1 desktop">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet ultrices orci. Curabitur ut tincidunt mi. Cras id dictum lectus, placerat vestibulum nisl. Curabitur ornare turpis at elit sollicitudin, gravida lobortis lectus pellentesque. Etiam vel urna non nisi lacinia bibendum id vel diam. Vivamus vel risus mattis, cursus dui non, iaculis nulla. Nunc hendrerit venenatis laoreet. Suspendisse mollis, lectus in euismod molestie, quam nulla placerat lacus, at iaculis quam.</p>
                </div>
                <div class="column mobile tablet1 desktop">
                    <h4>Pirate Ipsum</h4>
                    <p>Sail ho reef sails grapple gaff sheet splice the main brace nipperkin Privateer. Crimp league bring a spring upon her cable killick schooner Jack Ketch scuttle fore. Cackle fruit cable trysail hempen halter yawl hearties Davy Jones' Locker piracy. Rum no prey, no pay spanker prow trysail provost quarter Jack Tar. Ballast carouser splice the main brace Gold Road crack Jennys tea cup brig gally dead men tell no tales. Swing the lead pillage fire ship galleon gangplank fore Shiver me timbers rigging. Buccaneer squiffy clap of thunder scurvy bilge rat reef sails square-rigged walk the plank. Ho lass Barbary Coast gunwalls loot crack Jennys tea cup hempen halter heave to.</p>
                </div>
                <div class="column mobile tablet2 desktop">
                    <h4>Zombie Ipsum</h4>
                    <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.</p>
                </div>
            </div>
        </div>        
    </body>
</html>