<fieldset>
    <h1>The Current Time and Date:</h1>
</fieldset>
<fieldset>
    <div>
        <h3><%= @time.strftime("%b %d, %Y") %></h3>
        <h3><%= @time.strftime("%I:%M %p") %></h3>
    </div>
</fieldset>