<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Login and Registration</title>
        <meta charset='UTF-8'>
    </head>
    <body>
        {{request.session.error}}
        <h1>Login:</h1>
        <form action="/login", method='POST'>
            {% csrf_token %}
            <label for="client_email">Email Address:<input type="text" name="client_email" id="client_email"></label>
            <label for="client_password">Password:<input type="password" name="client_password" id="client_password"></label>
            <input type="submit" name="submit" value="Login">
        </form>
        <hr>
        <h1>Registration (if new client):</h1>
        <form action="/registration", method='POST'>
            {% csrf_token %}
            <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
            <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
            <label for="email">Email Address:<input type="text" name="email" id="email"></label>
            <label for="password">Password:<input type="password" name="password" id="password"></label>
            <label for="confirm_password">Confirm Password:<input type="password" name="confirm_password" id="confirm_password"></label>
        <input type="submit" name="submit" value="Register">
        </form>
    </body>
</html>