<h1>Check out all these different Panthers!</h1>
<a href="/panthers/new">Click here to add a panther to our database!</a>
<div class="display_users">
    <% for(var i in panthers) { %>
        <h3><a href="panthers/<%= panthers[i].id %>/show">Name: <%= panthers[i].name %></a></h3>
        <hr></hr>
    <% } %>
</div>