<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Secret Wall</title>
        <meta charset='UTF-8'>
    </head>
    <body>
        <h1>Hello, {{name.first_name}}!</h1>
        <form action="{% url 'post' %}" method="post">
            {% csrf_token %}
            <textarea style="display:block;" name="content" rows="8" cols="40"></textarea>
            <input type="submit" name="" value="Post">
            <a href="{% url 'popular' %}">Most Popular Secrets</a>    
        </form>
        <h1>Recent Secrets...</h1>
        {% for secret in secrets %}
            <p>{{secret.content}} (when the secret was posted)</p>
        {% endfor %}
    </body>
</html>