<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>New Car</title>
        <meta charset='UTF-8'>
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <form>
            <label  style="display:block;" for="make">Make: <input type="text"></label>
            <label  style="display:block;" for="model">Model: <input type="text"></label>
            <label  style="display:block;" for="year">Year: <input type="text"></label>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>