
<html>
    <head>
        <title>Survey Form Revisited</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type ="text/javascript">
            $(document).ready(function (){
            var socket = io.connect();
            $('#dojo_form').submit(function(e) {
        		e.preventDefault();
				socket.emit("posting_form", {
				  	name: $('#name').val(),
                    location: $('#location').val(),
                    language: $('#language').val(),
                    comment: $('#comment').val()
                });
			});
			socket.on('updated_message', function (data){
			    $('#message').html(`<p>You emitted the following information to the server:  ${JSON.stringify(data.response)}  </p>`);
			});
			socket.on('random_number', function (data){
			   $('#number').html(`<p>Your lucky number emitted by the server is :  ${JSON.stringify(data.response)} </p>`);
			});
        });
        </script>
    </head>
    <body>
        <fieldset style="width:250px; padding:20px">
            <div id="message"></div>
            <div id="number"></div>
            <form id = "dojo_form" action="">
                <label style="display:block;" for="name">Your Name: <input type="text" id="name"></label>
                <label style="display:block;" for="location">Dojo Location:<select id='location'>
                    location: <option value='Silicon Valley'>Silicon Valley</option>
                    location: <option value='Seattle'>Seattle</option>
                    location: <option value='Los Angeles'>Los Angeles</option>
                    location: <option value='Dallas'>Dallas</option>
                    location: <option value='Washington DC'>Washington DC</option>
                    location: <option value='Chicago'>Chicago</option>
                    location: <option value='Berkeley'>Berkeley</option>
                    location: <option value='Orange County'>Orange County</option>
                </select>
                <label style="display:block;" for="language">Favorite Language:<select id='language'>
                    language: <option value='Java'>Java</option>
                    language: <option value='Python'>Python</option>
                    language: <option value='Ruby'>Ruby</option>
                    language: <option value='PhP'>PhP</option>
                </select>
                <label style="display:block;" for="comment">Comment (optional):</label>
                <input style="display:block; width: 200px; height:100px;" type="text" id="comment">
                <input style="display:block;" type="submit" name="submit" value="Submit">
            </form>
        </fieldset>
    </body>
</html>