table {
    font-family: arial, sans-serif;
    border: 1px solid black;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h3 {
    color:red
}