<h1>Edit user's info:</h1>
<input type="text" value="<%= @user.id %>">
<input type="text" value="<%= @user.name %>">
<input type="text" value="<%= @user.created_at %>">
<input type="text" value="<%= @user.updated_at %>">