<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>About</title>
        <meta charset='UTF-8'>
    </head>
    <body style="text-align:center; margin: opx, auto; width:1000px">
        <h1>About me!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis vehicula magna, vitae finibus felis. Vestibulum mollis arcu metus, in luctus magna rhoncus vel. Cras congue maximus fermentum. Proin vitae suscipit mauris. Phasellus porttitor vel ipsum vitae gravida. In nec pharetra mi. Nunc euismod non nulla eu molestie. Etiam ac.</p>
    </body>
</html>