<div class="wrapper">
  <h1>Welcome to {{title}}!!</h1>
  <div class="body">
    <button class="{{ oneClass }}" value="click 1" (click)="oneClicked()">PST</button>
    <button class="{{ twoClass }}" value="click 2" (click)="twoClicked()">MST</button>
    <button class="{{ threeClass }}" value="click 3" (click)="threeClicked()">CST</button>
    <button class="{{ fourClass }}" value="click 4" (click)="fourClicked()">EST</button>
    <button class="{{ fiveClass }}" value="click 5" (click)="fiveClicked()">Clear</button>
  </div>
</div>