<body>
    <p><%= link_to "Edit My Profile", edit_user_path(@user) %> | <%= link_to "Logout", root_path %> </p>
    <h4>Welcome, <%= @user.first_name %></h4>
    <div>
        <h4>Here are some of the events in your state:</h4>
    </div>
    <div>
        <h4>Here are some of the events in other states:</h4>
    </div>
    <div>
        <h4>Add Event:</h4>
    </div>
</body>