<html>
<head>
    <title>Group Chat</title>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
            var socket = io.connect();
            var username = prompt("Who are you?");
            socket.emit("send_username", {username:username});
            socket.on('send_username', function(data){
                for(var i = 0; i < data.all_users.length; i++) {
                    $('#users').append(`<p>${data.all_users[i]}</p>`)
                }
            })
            $('#submitButton').click(function() {
                var message = $('#chatInput').val();
                socket.emit('send_message', {message:message, sender:socket.id})
            })
            socket.on('#send_message', function(data) {
                $('#chatBox').append(`<p>${data.message} - ${data.sender}</p>`)
            })
            socket.on('user_left', function(data) {
                $("#users").html("");
                for(var i = 0; i < data.all_users.length; i++) {
                    $('#users').append(`<p>${data.all_users[i]}</p>`)
                }
            })
        });
    </script>
</head>
<body>
    <div id="chatBox"></div>
    <input type="text" name="chatInput" id="chatInput" placeholder="enter message here">
    <button id="submitButton">Send</button>
    <div id="users"></div>
    <style>
        #chatBox {
            width:75%;
            overflow-y: scroll;
            height: 450px;
            border:2px solid black;
            margin: auto;
        }
        #users {
            width:75%;
            overflow-y: scroll;
            height: 150px;
            border:1px solid black;
            margin: auto;
        }
        #chatInput {
            width:75%;
            margin:auto;
            display:block;
        }
        #submitButton {
            margin:auto;
            display:block;
        }
    </style>
</body>
</html>