<html>
    <body>
        <h2>Here are all the users:</h2>
        <% for (var i in users) { %>
            <h3>Name: <%= users[i].name %></h3>
            <h4>Email: <%= users[i].email %></h4>
            <hr>
        <% } %>
        <form action='/users' method='post'>
            Name: <input type='text' name='name'>
            Email: <input type='text' name='email'>
            <input type='submit' value='create user'>
        </form>
    </body>
</html>