<!DOCTYPE html>
<html lang='en'>
    <head>
        <title></title>
        <meta charset='UTF-8'>
    </head>
    <body>
        <h1>hello world</h1>
        {% for blog in blogs %}
            <h5>{{blog.title}}</h5>
            <p>{{blog.blog}}</p>
            {% for comment in blog.comment_set.all %}
                <p>{{comment.comment}}</p>
            {% endfor %}
            <form action="/comments/{{blog.id}}" method="post">
                {% csrf_token %}
                <textarea name="comment" rows="8" cols="40"></textarea>
                <input type="submit" name="" value="Enter Comment on This Blog">
            </form>
        {% endfor %}
        <form action="/blogs" method="post">
            {% csrf_token %}
            <label for="title">Title: </label>
            <input type="text" name="title" value="">
            <textarea name="blog" rows="8" cols="40"></textarea>
            <input type="submit" name="" value="Enter Blog">
        </form>
    </body>
</html>