<!--The whole content below can be removed with the new code.-->
<div class="wrapper">
  <h1>{{title}}</h1>
  <div class="buttons">
    <div class="brown">
      <button class="{{ oneClass }}" (click)="oneClicked()">{{ one_on_off }}</button>
    </div>
    <div class="brown">
      <button class="{{ twoClass }}" (click)="twoClicked()">{{ two_on_off }}</button>
    </div>
    <div class="brown">
      <button class="{{ threeClass }}" (click)="threeClicked()">{{ three_on_off }}</button>
    </div>
    <div class="brown">
      <button class="{{ fourClass }}" (click)="fourClicked()">{{ four_on_off }}</button>
    </div>
    <div class="brown">
      <button class="{{ fiveClass }}" (click)="fiveClicked()">{{ five_on_off }}</button>
    </div>
    <div class="brown">
      <button class="{{ sixClass }}" (click)="sixClicked()">{{ six_on_off }}</button>
    </div>
    <div class="brown">
      <button class="{{ sevenClass }}" (click)="sevenClicked()">{{ seven_on_off }}</button>
    </div>
    <div class="brown">
      <button class="{{ eightClass }}" (click)="eightClicked()">{{ eight_on_off }}</button>
    </div>
    <div class="brown">
      <button class="{{ nineClass }}" (click)="nineClicked()">{{ nine_on_off }}</button>
    </div>
    <div class="brown">
      <button class="{{ tenClass }}" (click)="tenClicked()">{{ ten_on_off }}</button>
    </div>
  </div>
</div>