<!DOCTYPE html>
<html lang='en'>
    <head>
    <title>Survey Form</title>
    <meta charset='UTF-8'>
    </head>
    <body>
        <div style="margin: 0px, auto; width: 300px; display: flex; justify-content: center;">
            <fieldset>
                <form action="/process" method='post'>
                    {% csrf_token %}
                    <label style="display:block;" for="client_name">Your Name:<input type="text" name="client_name"></label>
                    <label style="display:block;" for="dojo_location">Dojo Location:<select name='dojo_location'>
                        location: <option value='Silicon Valley'>Silicon Valley</option>
                        location: <option value='Seattle'>Seattle</option>
                        location: <option value='Los Angeles'>Los Angeles</option>
                        location: <option value='Dallas'>Dallas</option>
                        location: <option value='Washington DC'>Washington DC</option>
                        location: <option value='Chicago'>Chicago</option>
                        location: <option value='Berkeley'>Berkeley</option>
                        location: <option value='Orange County'>Orange County</option>
                    </select>
                    <label style="display:block;" for="favorite_language">Favorite Language:<select name='favorite_language'>
                        language: <option value='Java'>Java</option>
                        language: <option value='Python'>Python</option>
                        language: <option value='Ruby'>Ruby</option>
                        language: <option value='PhP'>PhP</option>
                    </select>
                    <label style="display:block;" for="comment">Comment (optional):</label>
                    <input style="display:block; width: 200px; height:100px;" type="text" name="comment" value="">
                    <input style="display:block;" type="submit" name="submit" value="Submit">
                </form>
            </fieldset>
        </div>
    </body>
</html>