<h1>Sign In</h1>
<% if flash[:errors] %>
    <% flash[:errors].each do |note| %>
        <p id="errors"><%= note %></p>  
    <% end %>
<% end %>
<form action = "/users" method = "post">
    <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
    <input type = "text" name = "username" placeholder = "Username">
    <input type = "submit" value = "Sign In">
</form>